# Only change the IP if you're using a server with multiple network interfaces, otherwise change the port only.
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
set mysql_connection_string "server=127.0.0.1;database=pistolerosrp;userid=pistolerosrp;password=..Jeann142857"

# These resources will start by default.
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure fivem
ensure hardcap
ensure rconlog
ensure scoreboard

start essentialmode

#Mysql
start async
start mysql-async


#UI
start es_extended
start esx_menu_default
start esx_menu_list
start esx_menu_dialog

#ESX
start esx_marker
start loading
start cron
start 911
start esx_phone
start gcphone
start esx_addonaccount
start esx_addoninventory
start esx_ambulancejob
start esx_animations
#start esx_atm
#start esx_bankerjob
start esx_billing
start esx_boat
start esx_boilerplate
start esx_clotheshop
#start esx_drp_garage
start esx_drp_garage_tanoshi

#start esx_jb_eden_garage
#start esx_jb_eden_garage_lib
#start esx_cruisecontrol
start esx_datastore
start esx_dmvschool
start esx_drugs
#start esx_garage
start esx_holdup
start esx_identity
start esx_joblisting
start esx_jobs
start esx_license
start esx_society
start esx_lscustom
start esx_mechanicjob
#start esx_migrate
start esx_optionalneeds
start esx_policejob
#start esx_realestateagentjob
start esx_rpchat
start esx_service
start esx_shops
start esx_sit
start esx_skin
start esx_status
start esx_taxijob
start esx_vehicleshop
start esx_voice
start esx_weaponshop
#start esx_whitelist
#start esx_whitelistEnhanced
start instance
start skinchanger
start Mapa_Prueba
start esx_property
start esx_basicneeds
start pistolerosrp_hud
start progressBars
#start esx_repairkit
start esx_accessories
start new_banking
#start esx_legacyfuel
#start esx_new_banking
#start lux_vehcontrol
start esx_vehicle_inventory
start carcontrol
start esx_carlock
start carry
start shelbys_paletohomes

#Hud Autos
start chud
start notifications
start utils
start car-hud
start carcontrol
start LegacyFuel
start esx_scoreboard
start esx_realisticvehiclefailure
#start qalle_coords
start esx_adminplus
start fs_taxi
start esx_truckshop
start np_streetraces
start esx_jobgetmilk

#MultiCracteres
#start esx_kashacters
#start spawnselector

#start Vespucci_house_interior
#start esx_AtmRobbery
#start esx_amazonsecondary

start kk_sandyapartments
start mparkhouse
start esx_npcdrugsales
start pNotify
start mythic_notify
start menuv
start warmenu
start RageUI
start sp_calladmin
start relisoft_tag 
start nv-reports
start logsystem
start esx_spectate
start esx_adminmode
start el_bwh
start sp_admin

#start esx_prime_radio
#start esx_contract
#start esx_doctor
#start qb_hotdogjob
#start qb_keyminigame

start esx_busjob
start esx_barbershop
start esx_tattooshop
start point-finger
start esx_carthief
start mhacking
start progressBarsRob
start esx_TruckRobbery
start esx_outlawalert
start esx_radars
start moreatms
start esx_garbage

exec cnf/vehicle.cfg
exec cnf/mapas.cfg

# This allows players to use scripthook-based plugins such as the legacy Lambda Menu.
# Set this to 1 to allow scripthook. Do note that this does _not_ guarantee players won't be able to use external plugins.
sv_scriptHookAllowed 0

# Uncomment this and set a password to enable RCON. Make sure to change the password - it should look like rcon_password "YOURPASSWORD"
#rcon_password ""ww

# A comma-separated list of tags for your server.
# For example:
# - sets tags "drifting, cars, racing"
# Or:
# - sets tags "roleplay, military, tanks"
sets tags "default"

# A valid locale identifier for your server's primary language.
# For example "en-US", "fr-CA", "nl-NL", "de-DE", "en-GB", "pt-BR"
sets locale "es-ES"
# please DO replace root-AQ on the line ABOVE with a real language! :)

# Set an optional server info and connecting banner image url.
# Size doesn't matter, any banner sized image will be fine.
#sets banner_detail "https://url.to/image.png"
#sets banner_connecting "https://url.to/image.png"

# add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_ace resource.essentialmode command.add_ace allow
add_ace resource.essentialmode command.add_principal allow
add_principal identifier.steam:110000142d368bd group.superadmin # Copiar y pegar para añadir a mas administradores totales.

# Set your server's hostname

sets banner_detail "https://imgur.com/W6INbZp"
sets banner_connecting "https://imgur.com/vLabKi8"
sets Discord "🔊 https://discord.gg/bXZBbMn9 🔊"
sets Desarrollador/Fundador "💻 Jeann y Alejandro Cepeda 💻"
sets tags "[ESP], LATAM, Autos reales,Accesos Libre, Sin WhiteList,Trabajos, RP Serio, Vehículos Importante y Reales, Economia realista, Telefono, Staff Activo"

sv_hostname "^1[ESP/LATAM] ^1PISTOLEROS RP - Venta de Autos Reales con Dinero en Juego │^1TRABAJOS (Legales/Drogas/Robos/Estafas)^0│^0APARTAMENTOS^0│^2AUTOS MODIFICABLES^0│^3POLICIAS^0│^1Odiamos el MetaGaming$


# Nested configs!
#exec server_internal.cfg

# Loading a server icon (96x96 PNG file)
load_server_icon logo.png

# convars which can be used in scripts
set temp_convar "hey world!"

# Uncomment this line if you do not want your server to be listed in the server browser.
# Do not edit it if you *do* want your server listed.
#sv_master1 ""

# Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_ace resource.essentialmode command.add_principal allow
add_principal identifier.steam:110000142d368bd group.superadmin # Copiar y pegar para añadir a mas administradores totales.

# Hide player endpoints in external log output.
sv_endpointprivacy true

# enable OneSync with default configuration (required for server-side state awareness)
onesync_enabled false

# Server player slot limit (must be between 1 and 32, unless using OneSync)
sv_maxclients 32

# Steam Web API key, if you want to use Steam authentication (https://steamcommunity.com/dev/apikey)
# -> replace "" with the key
set steam_webApiKey "2C9FB5D7197ABEC75D9DE2C6D24B6C59"

# License key for your server (https://keymaster.fivem.net)
sv_licenseKey dctrto27z05dckio39vde88kky7q806i

sv_tebexSecret 4189b1fea014b41560c35291d11a039bed9195d6
